#login-dialog{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
#login{
  display: none;
  background-color: #621360;
}
#loading{
  margin: auto;
}
#switch{
  display: none;
}
p{
  color: var(--mainColor)
}
span{
  font-weight: bold;
}
