@font-face {
    font-family: 'gilroy-extrabold';
    src: url('./fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body,html{
  padding: 0;
  margin: 0;
  background-color: #f5f5f5
}
main{
  margin-top: 60px;
  text-align: center;
}
p{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0
}
h1,h2,h3,h4{
  font-family: 'gilroy-extrabold';
  color: #363636;
  margin: 0;
  padding: 0;
}
.navbar{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 10px;
  background-color: #1e8ae8;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.mobile-nav{
  display: none;
  padding-top: 50px;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  text-align: center;
}
nav h2{
  display: inline;
  vertical-align: middle;
  color: white;
}
button{
  transition: all 0.5s;
  font-family: 'gilroy-extrabold';
  background-color: #FC5130;
  color: white;
  border-radius: 3px;
  border: 0;
  padding: 10px;
  margin: 10px auto 10px auto;
  display: block;
}
button:hover{
  cursor: pointer;
}
a{
  transition: all 0.5s;
  font-family: 'gilroy-extrabold';
  background-color: #eb4c3b;
  color: white;
  border-radius: 3px;
  border: 0;
  padding: 10px;
  margin: 10px auto 10px auto;
  display: block;
  text-decoration: none;
}
.mapbox{
  position: fixed;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px solid white;
}
.card{
  transition: all 0.5s;
  width: 80%;
  max-width: 500px;
  margin: auto;
  text-align: left;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-top: 5px solid #1e8ae8;
}
.card:hover{
  cursor: pointer;
}
.card>h2{
  display: inline-block;
  vertical-align: middle;
}
.stop{
  background-color: #363636;
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 10px;
}
.stop h2{
  display: inline;
  vertical-align: middle;
  color: white;
}
#change-stop{
  display: inline;
  vertical-align: middle;
}
#lateness{
  display: inline-block;
  vertical-align: middle;
  float: right;
}
#map{
  height: 100%;
}
#track-dialog{
  text-align: center;
  border-top: 5px solid #FC5130;
}
#live{
  vertical-align: top;
  display: inline-block;
  height: 25px;
  padding-left: 5px;
}
#menu-button{
  vertical-align: middle;
  display: inline;
}
