body{
  box-sizing: border-box;
  text-align: center;
}
.content{
  text-align: left;
  width: 100%;
}
h1,h2,h3{
  margin: 10vw;
}
img{
  margin: auto;
  width: 70%;
  max-width: 400px;
}
.fixed-buttons{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.fixed-buttons button{
  display: inline;
}
input{
  display: inline;
}
p{
  display: inline;
  color: var(--mainColor)
}
#checkbox{
  margin: 10vw;
  margin-bottom: 0;
}
#cancel{
  background-color: transparent;
  color: var(--mainColor)
}
button:disabled{
  background-color: grey;
}
