#options{
  text-align: center;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}
#buttons{
  margin-top: 20px;
}
#buttons button{
  width: 90%;
}
.blue{
  background-color: var(--mainBlue)
}
#options h2{
  display: block;
  margin: auto;
  width: 90%;
  background-color: white;
}
